Flask==2.3.3
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
mysql-connector-python==8.1.0
python-dotenv==1.0.0
pytest==7.4.2
selenium==4.13.0
webdriver_manager==4.0.1
chromedriver_autoinstaller==0.6.2
# pyvirtualdisplay==3.0
